# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [ ]:
# for keyword, counter/iterator, in keyword, object

##### Using 'in' keyword

In [ ]:
#in is what accesses the items in an iterable

##### Continue Statement

In [ ]:
#continue

##### Break Statement

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

In [4]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0
while counter <11:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10
11

In [2]:
num =0
while num <15:
    print(num **2)
    num +=1

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### looping 'While True'

In [4]:
# true as a condition for while loop to run
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [5]:
while True:
    name = input("what is your name?")
    if name == "quit":
        break
    print(name)

what is your name?Liz
Liz
what is your name?Bryan
Bryan
what is your name?Jerry
Jerry
what is your name?Quit
Quit
what is your name?quit

In [8]:
game = True
my_list = [1, 2, 3, 4, 5, 6]
index = 0
while game:  # while Trye because game == True
    if my_list[index] == 4:
        game = False  # if the above condition is met, we change game (our flag) to False which breaks the while Loop
    print(my_list[index])
    index +=1

1
2
3
4

##### While & For Loops Used Together

In [13]:
j = 0

while j < 10:
    print("\n skull crusher set", j)
    for i in range(2):
        print("skull crusher rep", i)
    j +=1

 skull crusher set 0
skull crusher rep 0
skull crusher rep 1

 skull crusher set 1
skull crusher rep 0
skull crusher rep 1

 skull crusher set 2
skull crusher rep 0
skull crusher rep 1

 skull crusher set 3
skull crusher rep 0
skull crusher rep 1

 skull crusher set 4
skull crusher rep 0
skull crusher rep 1

 skull crusher set 5
skull crusher rep 0
skull crusher rep 1

 skull crusher set 6
skull crusher rep 0
skull crusher rep 1

 skull crusher set 7
skull crusher rep 0
skull crusher rep 1

 skull crusher set 8
skull crusher rep 0
skull crusher rep 1

 skull crusher set 9
skull crusher rep 0
skull crusher rep 1

##### The Range Function

In [14]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [15]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [16]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

### String Manipulation Exercise

In [17]:
my_names = ["Ryan", "Alex", "Alex2", "Will"]
for name in my_names:
    print(name)

names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

Ryan
Alex
Alex2
Will

In [18]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.
lis = []

for x in names:
    name = x.split()
    
    for y in name:
        final = y.title()
        print(final)
        
    lis += [final]
    
print("here is the list of names", lis)

Connor
Max
Evan
Jordan
here is the list of names ['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [20]:
our_list= [] #<---empty list

names = ["Ryan", "Alex", "Justin", "Liz", "Alex"]
numbers = [1,2,3,4,5,6]
things = ["dog", 2, [1,2,3,4], "person"]
print(names)
print(things)

['Ryan', 'Alex', 'Justin', 'Liz', 'Alex']
['dog', 2, [1, 2, 3, 4], 'person']

##### Indexing a List

In [23]:
# [start: stop: step] --> last item [-1]
# Single index
names = ["Ryan", "Alex", "Justin", "Liz", "Alex"]
print(names[4])
print(names[2])

Alex
Justin

In [24]:
# Regardless of list lenght, -1 will always be the last index (position)
print(names[-1])

Alex

In [25]:
# List Slicing
# Print portion of list starting at index 1 and going to the end of the list
print(names[1:])

['Alex', 'Justin', 'Liz', 'Alex']

In [26]:
# Print starting at the beginning and go to a specified index
print(names[:3])

['Ryan', 'Alex', 'Justin']

In [27]:
# Stepping through list by 2
print(names[::2])

['Ryan', 'Justin', 'Alex']

In [28]:
# Print stepping backwards through the list
print(names[::-1])

['Alex', 'Liz', 'Justin', 'Alex', 'Ryan']

In [30]:
reversed_names = names[::-1]
print(reversed_names)

['Alex', 'Liz', 'Justin', 'Alex', 'Ryan']

### List Methods

##### .append()

In [32]:
names = ["Ryan", "Alex", "Justin", "Liz", "Alex"]
# list.append(thing you're appending)
# Append will always add to the back of the list

names.append("Will")
print(names)

names.append("Mo")
print(names)

['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Will']
['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Will', 'Mo']

##### .insert()

In [2]:
names = ["Ryan", "Alex", "Justin", "Liz", "Alex"]
#our_list.insert(index, value)

names.insert(1, "Morgan")
print(names)

names.insert(3, "Jeiavonni")
print(names)

['Ryan', 'Morgan', 'Alex', 'Justin', 'Liz', 'Alex']
['Ryan', 'Morgan', 'Alex', 'Jeiavonni', 'Justin', 'Liz', 'Alex']

##### .pop()

In [3]:
# list.pop(optional index to pop out)
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

popped_name = names.pop(6)
print(names)
print(popped_name)

print(names.pop())

['Ryan', 'Morgan', 'Alex', 'Jeiavonni', 'Justin', 'Liz']
Alex
Liz

##### .remove()

In [4]:
# value to be removed, not an index
print(names) # ----print to display names left in list
names.remove("Ryan")
print(names)

['Ryan', 'Morgan', 'Alex', 'Jeiavonni', 'Justin']
['Morgan', 'Alex', 'Jeiavonni', 'Justin']

### Working With Lists

##### del()

In [5]:
# index to be removed, not value 
names=['Morgan', 'Alex', 'Jeiavonni', 'Justin']
del names[1]
print(names)
del names[:2]
print(names)

['Morgan', 'Jeiavonni', 'Justin']
['Justin']

##### min()

In [3]:
# return the smallest item in a list
numbers = [2, 5, 1, 6, 47, 12]
print(min(numbers))

1

In [7]:
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]
print(max(names))

alex

##### max()

In [ ]:
# returns largest item in a list

##### sum()

In [9]:
# return the sum of all numbers in a list
numbers = [2, 5, 1, 6, 47, 12]
print(sum(numbers))

73

##### sorted()

In [10]:
#sorted will return a new sorted list, create a new variable
numbers = [2, 5, 1, 6, 47, 12]
print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)
print(numbers)

[1, 2, 5, 6, 12, 47]
[1, 2, 5, 6, 12, 47]
[2, 5, 1, 6, 47, 12]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [11]:
#.sort() will sort the original list
numbers = [2, 5, 1, 6, 47, 12]
numbers.sort()

print(numbers)

[1, 2, 5, 6, 12, 47]

In [12]:
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]
names.sort()
print(names)

['Alex', 'Justin', 'Liz', 'Rayn', 'Razvan', 'alex']

##### Copying a List

In [13]:
# [:] copies a list, doesn't alter original'
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]
print(names[:])
names_copy = names[:]
print(names_copy)

['Rayn', 'alex', 'Justin', 'Liz', 'Alex', 'Razvan']
['Rayn', 'alex', 'Justin', 'Liz', 'Alex', 'Razvan']

##### Looping Through Lists

In [14]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]

# Looping by enumerate
for i, n in enumerate(names):
    print(i, n)

0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu

In [15]:
# looping by index
for i in range(len(names)):
    print(names[i])

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

In [16]:
for name in names:
    print(name)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

##### 'in' keyword

In [17]:
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]

if "Liz" in names:
    print("Yay Liz is here!")

Yay Liz is here!

In [18]:
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]
if "Duck" in names or "Liz" in names:
    print("Yay something is here!")
else:
    print("Boo no duck")

Yay something is here!

##### 'not in' keyword

In [19]:
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]

if "Frederick" not in names:
    print("No Frederick")
else:
    print("Frederick")

No Frederick

##### Checking an Empty List

In [20]:
l_2 = []
l_3 = None

if l_2 == []:
    print("that list is empty")

that list is empty

In [23]:
if l_2 == l_3:
    print("yes")
else:
    print("no")

no

In [22]:
if l_2:
    print("this list has stuff")
else:
    print("this list is doesn't have stuff")

this list is doesn't have stuff

##### Removing Instances with a Loop

In [24]:
#while, remove
names = ["Rayn", "Justin", "Liz", "Alex", "Alex", "Razvan", "Frederick"]
for name in names:
    if name == "Alex":
        names.remove(name)
print(names)

['Rayn', 'Justin', 'Liz', 'Alex', 'Razvan', 'Frederick']

In [25]:
# Using a while Loop with remove
# While Loop is more thourough
names = ["Rayn", "alex", "Justin", "Liz", "Alex", "Razvan"]
while "Alex" in names:
    names.remove("Alex")
print(names)

['Rayn', 'alex', 'Justin', 'Liz', 'Razvan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [27]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [31]:
# Square every even number
nums = [2, 4, 5, 6, 7, 8, 9, 10]

# Long handed way
squared_nums = []
for x in nums:
    if x%2 ==0:
        squared_nums.append(x**2)
print(squared_nums)

[4, 16, 36, 64, 100]

In [32]:
# List Comprehension way
nums_squared = [x**2 for x in nums if x%2 ==0]
print(nums_squared)

[4, 16, 36, 64, 100]

In [30]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
new_nums = [x for x in nums]
print(new_nums)

[2, 4, 5, 6, 7, 8, 9, 10]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [35]:
tup_1 = (1,2,3) # one way to create a tuple, items seperated by commas in parentheses
tup_2 = 4,5,6 # another just items separated by commas
print(tup_2)

print(type(tup_1))

print("tuple length", len(tup_2))

for num in tup_2:
    print(num)
    
for i in range(len(tup_1)):
    print(tup_1[i])

(4, 5, 6)
<class 'tuple'>
tuple length 3
4
5
6
1
2
3

##### sorted()

In [36]:
tup = (20, 5, 1, 10, 95, 123)
print(sorted(tup))

[1, 5, 10, 20, 95, 123]

In [37]:
some_list = [5, 12, 654, 234, 76, 23]
sorted_list = sorted(some_list)
print(sorted_list)

[5, 12, 23, 76, 234, 654]

In [39]:
sorted_list = tuple(sorted_list)
new_tup = tuple(sorted_tup_list)
print(new_tup)

NameError: name 'sorted_tup_list' is not defined

##### Adding values to a Tuple

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [42]:
alist = [1,11,14,5,8,9]

for num in alist:
    if num < 10:
        print(num)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [ ]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [43]:
for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

filtered_names = [name.strip().title() for name in names_list if name.strip().lower().startswith('a')]
print(filtered_names)

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. 
https://www.geeksforgeeks.org/using-else-conditional-statement-with-for-loop-in-python/

In [ ]:
#Use range